.button {
  display: flex;
  margin-top: 4px;
  padding: 8px 20px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  color: white;
  background-color: #c2c2c2;
  border-color: transparent;
  cursor: not-allowed;

  &:hover {
    opacity: 1;
  }
}

.error {
  background-color: #dc362e;
}

.approve {
  background-color: #038f00;
}

.primary {
  color: var(--button-primary-color);
  border: 1px solid var(--button-primary-border-color);
}

.fill {
  color: white;
  background-color: var(--button-primary-bg);

  &:hover {
    background: var(--button-primary-bgHover);
  }
}
