:where(.css-dev-only-do-not-override-11lehqq).ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  border-color: #f97316;
  background-color: #f97316;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-upload-wrapper
  .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #f97316;
}
