.ant-select-selector {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.ant-select-dropdown {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: auto !important;
  bottom: auto !important;
  width: 100% !important;
  margin-top: 6px;
}
