@keyframes slideDownIn {
  from {
    opacity: 0;
    transform: translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-70%);
  }
}

.custom-modal-slide-down-enter {
  animation: slideDownIn 0.2s ease-out forwards;
}

.custom-modal-slide-down-leave {
  animation: slideUpOut 0.2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.custom-mask-enter {
  animation: fadeIn 0.3s ease-out forwards;
}

.custom-mask-leave {
  animation: fadeOut 0.3s ease-in forwards;
}
