.table-job-seeker td {
  padding: 40px !important;

  &:not(:last-child) {
    border-inline-end-width: 1px;
  }
}

.table-job-seeker .ant-table-cell {
  vertical-align: top !important;

  &::before {
    content: none !important;
  }
}

.table-job-seeker .ant-pagination {
  margin: 0 !important;
  padding: 8px 0 !important;
  background-color: #fafafa;
}
