.ant-picker:has(.ant-picker-prefix-icon)
  .ant-picker-input
  span.ant-picker-suffix,
.ant-picker span.ant-picker-suffix {
  margin-left: 1px;
  margin-right: 10px;
  order: -1;
}

.ant-picker .ant-picker-suffix {
  opacity: 1 !important;
}
