@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --header-bgColor: #691f74;

  --button-bg-hover-color: #fcebe6;
  --button-border-color: #f15224;

  --button-primary-bg: #f15224;
  --button-primary-color: #f15224;
  --button-primary-bgHover: #d94a20;

  --button-outline-bg: white;
  --button-outline-bgHover: #d94a20;
  --button-outline-color: #252325;
  --button-outline-border-color: #d1d5db;

  --select-bg-primary: #fafafa;
  --select-bg-hover: #4096ff;
  --select-border-color-primary: #4096ff;
  --select-box-shadow-primary: 0 0 0 2px rgba(5, 145, 255, 0.1);

  --radio-inner-bg-color: #ff5800;
  --radio-inner-border-color: #ff5800;

  --admin-color-primary: #ffac69;
  --admin-background-color-primary: #1e1e2e;
  --admin-header-background-color: #001529;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.admin-bg {
  --tw-bg-opacity: 1;
  background-color: #1e1e2e;
}

.header-bg {
  background-color: #020220;
}

.ant-table-thead .ant-table-cell {
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 700 !important;
  color: #F15227 !important;
  border: none !important;
  background-color: #eff3f8 !important;
}

.ant-table-thead .ant-table-cell::before {
  width: 0 !important;
}

.even-row .ant-table-cell {
  background-color: #fcfafa;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  color: #00538f;
  font-weight: 500;
}
